/* Estilo del Index empezando por el hero */
.hero {
    width: 100%;
    height: auto;
    padding: 0px 25px 65px;
    background-color: var(--marronClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  
  .hero__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
  }
  
  .hero__title {
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
  }
  
  .hero__paragraph {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .hero__paragraph-bold {
    font-family: "Raleway Bold", sans-serif;
  }
  
  .hero__button {
    width: 225px;
    height: 60px;
    background-color: var(--marronMedio);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--marronClaro);
    font-size: 16px;
    transition: all ease-in-out 0.3s;
  }
  
  .hero__button:hover {
    background-color: var(--marronOscuro);
  }
  
  .hero__image {
    width: 250px;
    height: auto;
  }
  
  /* Section Info */
  .info {
    width: 100%;
    height: auto;
    padding: 65px 25px;
    background-color: var(--marronMedio);
  }
  
  .info__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
  }
  
  .info__cards {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
    transition: all ease-in-out 0.3s;
  }
  
  .info__cards:hover {
    transform: translateY(-10px);
  }
  
  .info__cards-image {
    width: 75px;
    height: auto;
  }
  
  .info__cards-text {
    font-family: "Raleway Bold", sans-serif;
    font-size: 16px;
    color: var(--marronClaro);
  }
  
  /* Section Noticias */
  .noticias {
    width: 100%;
    height: auto;
    padding: 65px 30px;
    background-color: var(--marronClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
  }
  
  .noticias__titlePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .noticias__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .noticias__card {
    width: 100%;
    background-color: var(--marronMedio);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
  }
  
  .noticias__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .noticias__title {
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
    color: var(--marronClaro);
    letter-spacing: 0.05rem;
  }
  
  .noticias__paragraph {
    font-family: "Raleway Regular", sans-serif;
    font-size: 12px;
    color: var(--marronClaro);
  }
  
  .noticias__image {
    width: 150px;
    height: auto;
  }
  
  .noticias__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .noticias__buttons-left,
  .noticias__buttons-right {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--marronMedio);
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  
  .noticias__buttons-left:hover,
  .noticias__buttons-right:hover {
    background-color: var(--marronOscuro);
  }
  
  .noticias__buttons-left-icon {
    width: 30px;
    height: 30px;
  }
  
  .noticias__buttons-right-icon {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  
  /* Section Regalo */
  .regalo {
    width: 100%;
    height: auto;
    padding: 65px 25px;
    background-color: var(--marronMedio);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .regalo__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .regalo__image {
    width: 300px;
    height: auto;
  }
  
  .regalo__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
  }
  
  .regalo__text,
  .regalo__succes-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .regalo__title {
    font-family: "Lilita One", sans-serif;
    font-size: 30px;
    color: var(--marronClaro);
  }
  
  .regalo__paragraph {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    color: var(--marronClaro);
  }
  
  .regalo__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .regalo__input {
    width: 100%;
    height: 55px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--marronClaro);
    color: var(--marronMedio);
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
  }
  
  .regalo__input::placeholder {
    color: var(--marronMedio);
    font-family: "Raleway Regular", sans-serif;
    font-size: 14px;
  }
  
  .regalo__button {
    width: 100%;
    height: 55px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--marronOscuro);
    color: var(--marronMedio);
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  
  .regalo__button:hover {
    background-color: var(--marronClaro);
  }
  
  .regalo__errormsg-text {
    display: none;
  }
  
  .regalo__errormsg.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d12d2d;
    border-radius: 10px;
  }
  
  .regalo__errormsg.active .regalo__errormsg-text {
    display: block;
    font-size: 14px;
    color: var(--marronClaro);
    padding-bottom: 10px;
  }
  
  .regalo__succes {
    width: 100%;
    background-color: var(--marronClaro);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
  }
  
  .regalo__succes-image {
    width: 150px;
    height: auto;
  }
  
  .regalo__succes-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  
  .regalo__succes-title {
    font-family: "Lilita One", sans-serif;
    font-size: 35px;
    color: var(--marronOscuro);
  }
  
  .regalo__succes-paragraph {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    color: var(--marronOscuro);
  }
  
  .regalo__succes-button {
    width: 115px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: var(--marronOscuro);
    color: var(--marronClaro);
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  
  .regalo__succes-button:hover {
    background-color: var(--marronMedio);
  }

  /* Media query para tablets */
@media screen and (min-width: 768px) {
    /* Estilo del Index empezando por el hero */
    .hero {
      padding: 70px;
    }
  
    .hero__container {
      width: 100%;
      flex-direction: column;
      gap: 20px;
    }
  
    .hero__title {
      font-size: 55px;
    }
  
    .hero__paragraph {
      font-size: 20px;
    }
  
    .hero__button {
      width: 340px;
      height: 90px;
      font-size: 24px;
    }
  
    .hero__image {
      width: 400px;
      height: auto;
    }
  
    /* Section Info */
    .info {
      padding: 60px;
    }
  
    .info__container {
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
    }
  
    .info__cards {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 24px;
    }
  
    .info__cards-image {
      width: 150px;
    }
  
    .info__cards-text {
      font-size: 26px;
    }
  
    /* Section Noticias */
    .noticias {
      padding: 70px 100px;
      gap: 30px;
    }
  
    .noticias__titlePage {
      gap: 35px;
    }
  
    .noticias__container {
      gap: 30px;
    }
  
    .noticias__card {
      padding: 50px;
      gap: 20px;
    }
  
    .noticias__text {
      gap: 25px;
      padding: 20px 40px;
    }
  
    .noticias__title {
      font-size: 35px;
      letter-spacing: 0rem;
    }
  
    .noticias__paragraph {
      font-size: 18px;
    }
  
    .noticias__buttons-left,
    .noticias__buttons-right {
      width: 80px;
      height: 80px;
    }
  
    .noticias__buttons-left:hover,
    .noticias__buttons-right:hover {
      background-color: var(--marronOscuro);
    }
  
    .noticias__buttons-left-icon {
      width: 50px;
      height: 50px;
    }
  
    .noticias__buttons-right-icon {
      width: 50px;
      height: 50px;
    }
  
    /* Section Regalo */
    .regalo {
      padding: 70px 25px;
      gap: 0px;
    }
  
    .regalo__content {
      padding: 48px;
      gap: 32px;
    }
  
    .regalo__text {
      gap: 24px;
    }
  
    .regalo__title {
      font-size: 50px;
    }
  
    .regalo__paragraph {
      font-size: 20px;
    }
  
    .regalo__actions {
      flex-direction: row;
      justify-content: center;
    }
  
    .regalo__input {
      width: 380px;
      height: 60px;
      padding: 20px;
      border-radius: 10px;
      font-size: 18px;
    }
  
    .regalo__input::placeholder {
      font-size: 16px;
    }
  
    .regalo__button {
      width: auto;
      height: 60px;
      padding: 0 24px;
      border-radius: 10px;
      font-size: 18px;
    }
  
    .regalo__succes-image {
      width: 250px;
      height: auto;
    }
  
    .regalo__succes-title {
      font-family: "Lilita One", sans-serif;
      font-size: 50px;
      color: var(--marronOscuro);
    }
  
    .regalo__succes-paragraph {
      font-family: "Raleway Regular", sans-serif;
      font-size: 20px;
      color: var(--marronOscuro);
    }
}

/* Media query para pc */
@media screen and (min-width: 1024px) {
    /* Estilo del Index empezando por el hero */
  .hero {
    padding: 70px;
  }

  .hero__container {
    width: 100%;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }

  .hero__content {
    width: 665px;
  }

  .hero__title {
    font-size: 62px;
  }

  .hero__paragraph {
    font-size: 24px;
  }

  .hero__image {
    width: 555px;
    height: auto;
  }

  /* Section Info */
  .info {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
  }

  /* Section Noticias */
  .noticias {
    padding: 110px 100px;
    gap: 60px;
  }

  .noticias__titlePage {
    width: 700px;
  }

  .noticias__container {
    max-width: 1240px;
    gap: 0px;
    position: relative;
    align-items: center;
  }

  .noticias__card {
    flex-direction: row;
    width: 85%;
    max-width: 1000px;
    max-height: 530px;
    height: 100%;
    padding: 30px;
    gap: auto;
  }

  .noticias__text {
    max-width: 600px;
    height: 100%;
    gap: 25px;
    padding: 40px;
  }

  .noticias__title {
    font-size: clamp(30px, 3vw, 40px);
  }

  .noticias__paragraph {
    font-size: clamp(14px, 3vw, 20px);
  }

  .noticias__image {
    width: 40%;
    max-width: 300px;
    height: auto;
  }

  .noticias__buttons {
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 45%;
  }

  .noticias__buttons-left,
  .noticias__buttons-right {
    width: 60px;
    height: 60px;
  }

  .noticias__buttons-left-icon {
    width: 30px;
    height: 30px;
  }

  .noticias__buttons-right-icon {
    width: 30px;
    height: 30px;
  }

  /* Section Regalo */
  .regalo {
    padding: 100px 45px;
  }

  .regalo__container {
    flex-direction: row;
    justify-content: center;
  }

  .regalo__image {
    width: 40%;
    max-width: 600px;
  }

  .regalo__content {
    width: 60%;
    max-width: 700px;
  }

  .regalo__text {
    align-items: center;
  }

  .regalo__title {
    font-size: clamp(30px, 3.5vw, 40px);
  }

  .regalo__paragraph {
    max-width: 520px;
    font-size: clamp(14px, 3vw, 24px);
  }

  .regalo__actions {
    flex-direction: row;
    justify-content: center;
  }

  .regalo__input {
    width: 320px;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
  }

  .regalo__input::placeholder {
    font-size: 16px;
  }

  .regalo__button {
    width: auto;
    height: 60px;
    padding: 0 24px;
    border-radius: 10px;
    font-size: 18px;
  }

  .regalo__succes {
    width: 100%;
    max-width: 920px;
    flex-direction: row;
    gap: 0;
    padding: 50px;
  }

  .regalo__succes-image {
    width: 300px;
    height: auto;
  }

  .regalo__succes-title {
    font-size: 56px;
  }

  .regalo__succes-paragraph {
    font-size: 24px;
  }
}