<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Víctor Barrio">
    <meta name="description" content="Página web en castellano de la empresa ficticia Coffee Lovers">

    <!-- Añado el icono y el título de la Web -->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/Logo_Iconos/CoffeLovers_icon.png">
    <title>Coffee Lovers</title>

    <!-- Importamos el CSS y el JS -->
    <link rel="stylesheet" href="../css/main.css">
    <script type="module" defer src="../js/script.js"></script>
    <script type="module" defer src="../js/galeria.js"></script>

    <!-- Importo la librería de los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="views">
    <!-- Primero de todo añado el header que será el mismo en todas las páginas -->
    <header>
        <!-- El logo de la empresa -->
        <div class="logoIcons">
            <img src="../assets/images/Logo_Iconos/CoffeLovers_logo.png"
                alt="Logo de la empresa que contiene 3 granos de cafe con el nombre de Coffee Lovers Spain" width="200"
                height="70" class="header__logo">

            <!-- El menu de la página con el estilo hamburguesa para las versiones móviles
         Primero el icono -->
            <img src="../assets/images/Logo_Iconos/Hamburger_icon.png"
                alt="Icono de menu con 3 lineas horizontales en color marron" width="50" height="50"
                class="header__hamburguer">

            <!-- El icono para cerrar el menu -->
            <img src="../assets/images/Logo_Iconos/Close_icon.png" alt="Icono con una X en color marron" width="50"
                height="50" class="header__close">
        </div>

        <!-- El contenido del menu -->
        <nav class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item"><a href="../index.html" class="header__menu-link">INICIO</a></li>
                <li class="header__menu-item active"><a href="#" class="header__menu-link">DESCUBRIR</a>
                </li>
                <li class="header__menu-item"><a href="../views/presupuesto.html" class="header__menu-link">COMPRAR</a>
                </li>
                <li class="header__menu-item"><a href="../views/contacto.html" class="header__menu-link">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Añado el contenido principal de la página -->
    <main class="pages">
        <div class="galeria__titlePage">
            <h1 class="section__title">¿COMO HACER UN BUEN CAFÉ?</h1>
            <p class="section__subtitle">Hay muchas formas distintas de hacer un buen café, pero a continuación te
                dejamos las que manejamos nosotros explicándote las características de cada una para que así tú escojas
                tu favorita.</p>
        </div>

        <div class="galeria__container">
            <div class="galeria__card">
                <div class="galeria__text">
                    <h2 class="galeria__text-title">PRENSA FRANCESA</h2>
                    <div class="galeria__info">
                        <div class="galeria__puntuacion">
                            <div class="galeria__puntuacion-text">
                                <p class="galeria__puntuacion-boldtext">Tiempo:</p>
                                <p class="galeria__puntuacion-regulartext" id="tiempo">3 a 4 minutos</p>
                            </div>
                            <div class="galeria__puntuacion-text">
                                <p class="galeria__puntuacion-boldtext">Dificultad:</p>
                                <p class="galeria__puntuacion-regulartext" id="dificultad">Media / Alta</p>
                            </div>
                            <div class="galeria__puntuacion-text">
                                <p class="galeria__puntuacion-boldtext">Sabor:</p>
                                <p class="galeria__puntuacion-regulartext" id="sabor">Fuerte</p>
                            </div>
                        </div>

                        <p class="galeria__explicacion">Funciona con el mismo método de infusión que en el té: el agua
                            debe tener suficiente contacto con el café para extraer sus aromas y sabores. Además,
                            recomendamos una molienda gruesa, ya que si no hay superficie de contacto se suele obtener
                            sabores mas amargos.</p>
                    </div>
                </div>

                <img src="../assets/images/galeria/prensa_francesa.png"
                    alt="Icono de una prensa francesa con colores marrones y café en el interior" class="galeria__image"
                    width="300" height="300">
            </div>

            <div class="galeria__slider">
                <img src="../assets/images/galeria/Dot.png" alt="Circulo para cambiar el contenido"
                    class="galeria__slider-dot active" width="10" height="10" id="0">
                <img src="../assets/images/galeria/Dot.png" alt="Circulo para cambiar el contenido"
                    class="galeria__slider-dot" width="10" height="10" id="1">
                <img src="../assets/images/galeria/Dot.png" alt="Circulo para cambiar el contenido"
                    class="galeria__slider-dot" width="10" height="10" id="2">
                <img src="../assets/images/galeria/Dot.png" alt="Circulo para cambiar el contenido"
                    class="galeria__slider-dot" width="10" height="10" id="3">
            </div>
        </div>
    </main>

    <!-- Añado el footer que será el mismo en todas las páginas -->
    <footer>
        <p class="footer__copyright">©2025 Coffee Lovers. Todos los derechos reservados.</p>

        <a href="../views/aviso_legal.html" class="footer__link">Aviso Legal</a>

        <ul class="footer__socialMedia">
            <li class="footer__socialMedia-item"><a href="https://es-es.facebook.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-facebook fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://www.instagram.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-instagram fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://x.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-x-twitter fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://es.linkedin.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-linkedin fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://www.youtube.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-youtube fa-lg icons"></i></a></li>
        </ul>
    </footer>
</body>

</html>