<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Víctor Barrio">
    <meta name="description" content="Página web en castellano de la empresa ficticia Coffee Lovers">

    <!-- Añado el icono y el título de la Web -->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/Logo_Iconos/CoffeLovers_icon.png">
    <title>Coffee Lovers</title>

    <!-- Importamos el CSS y el JS -->
    <link rel="stylesheet" href="../css/main.css">
    <script type="module" defer src="../js/script.js"></script>
    <script type="module" defer src="../js/presupuesto.js"></script>

    <!-- Importo la librería de los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="views">
    <!-- Primero de todo añado el header que será el mismo en todas las páginas -->
    <header>
        <!-- El logo de la empresa -->
        <div class="logoIcons">
            <img src="../assets/images/Logo_Iconos/CoffeLovers_logo.png"
                alt="Logo de la empresa que contiene 3 granos de cafe con el nombre de Coffee Lovers Spain" width="200"
                height="70" class="header__logo">

            <!-- El menu de la página con el estilo hamburguesa para las versiones móviles
         Primero el icono -->
            <img src="../assets/images/Logo_Iconos/Hamburger_icon.png"
                alt="Icono de menu con 3 lineas horizontales en color marron" width="50" height="50"
                class="header__hamburguer">

            <!-- El icono para cerrar el menu -->
            <img src="../assets/images/Logo_Iconos/Close_icon.png" alt="Icono con una X en color marron" width="50"
                height="50" class="header__close">
        </div>

        <!-- El contenido del menu -->
        <nav class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item"><a href="../index.html" class="header__menu-link">INICIO</a></li>
                <li class="header__menu-item"><a href="../views/galeria.html" class="header__menu-link">DESCUBRIR</a>
                </li>
                <li class="header__menu-item active"><a href="#" class="header__menu-link">COMPRAR</a>
                </li>
                <li class="header__menu-item"><a href="../views/contacto.html" class="header__menu-link">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Añado el contenido principal de la página -->
    <main class="pages presupuestoPage">
        <div class="presupuesto active">
            <div class="presupuesto__titlePage">
                <h1 class="section__title">¿QUIERES COMPRAR UNA DE NUESTRAS CAFETERAS?</h1>
                <p class="section__subtitle">¡Rellena el formulario y nos pondremos con ello!</p>
            </div>

            <form class="presupuesto__form">
                <div class="presupuesto__dobleItem">
                    <div class="presupuesto__options">
                        <label for="nombre" class="presupuesto__label">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="presupuesto__input" required>
                        <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                    </div>

                    <div class="presupuesto__options">
                        <label for="apellidos" class="presupuesto__label">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" class="presupuesto__input" required>
                        <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                    </div>
                </div>

                <div class="presupuesto__dobleItem">
                    <div class="presupuesto__options">
                        <label for="telefono" class="presupuesto__label">Teléfono de contacto:</label>
                        <input type="number" id="telefono" name="telefono" class="presupuesto__input" required>
                        <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                    </div>

                    <div class="presupuesto__options">
                        <label for="correo" class="presupuesto__label">Correo electrónico:</label>
                        <input type="email" id="correo" name="correo" class="presupuesto__input" required>
                        <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                    </div>
                </div>

                <div class="presupuesto__options select">
                    <label for="producto" class="presupuesto__label">Elige el producto:</label>
                    <select name="producto" id="producto" class="presupuesto__input">
                        <option value="40" id="opcion1">Prensa francesa (40€)</option>
                        <option value="110" id="opcion2">Máquina espresso (110€)</option>
                        <option value="20" id="opcion3">Moka italiana (20€)</option>
                        <option value="35" id="opcion4">Aeropress (35€)</option>
                    </select>
                    <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                </div>

                <div class="presupuesto__dobleItem">
                    <div class="presupuesto__options">
                        <label for="envio" class="presupuesto__label">Plazo en dias:</label>
                        <input type="number" id="envio" name="envio" class="presupuesto__input" required>
                        <span class="presupuesto__form-error">Este apartado és incorrecto</span>
                    </div>

                    <div class="presupuesto__options">
                        <p class="presupuesto__info">* A partir de los 20 días no se cobra el envio de 10€ ya que no es
                            un envió urgente. (max 180 días)</p>
                    </div>
                </div>

                <div class="presupuesto__options">
                    <label class="presupuesto__label">Extras del producto:</label>
                    <ul class="presupuesto__extrabtns">
                        <li class="presupuesto__extrabtns-rows">
                            <div class="presupuesto__radiobtn">
                                <label for="extras1" class="presupuesto__extraslabel">Mantenimiento 1 año (120€)</label>
                                <input type="checkbox" name="extras" id="extras1" value="120"
                                    class="presupuesto__extras">
                            </div>
                            <div class="presupuesto__radiobtn">
                                <label for="extras2" class="presupuesto__extraslabel">2kg de nuestro café de
                                    especialidad (30€)</label>
                                <input type="checkbox" name="extras" id="extras2" value="30"
                                    class="presupuesto__extras">
                            </div>
                        </li>
                        <li class="presupuesto__extrabtns-rows">
                            <div class="presupuesto__radiobtn">
                                <label for="extras3" class="presupuesto__extraslabel">Kit de limpieza avanzada
                                    (20€)</label>
                                <input type="checkbox" name="extras" id="extras3" value="20"
                                    class="presupuesto__extras">
                            </div>
                            <div class="presupuesto__radiobtn">
                                <label for="extras4" class="presupuesto__extraslabel">Moledora de café (55€)</label>
                                <input type="checkbox" name="extras" id="extras4" value="55"
                                    class="presupuesto__extras">
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="presupuesto__dobleItem">
                    <div class="presupuesto__options">
                        <label for="presupuesto" class="presupuesto__label">Presupuesto:</label>
                        <input type="text" id="presupuesto" name="presupuesto" class="presupuesto__input total"
                            value="40€" disabled>
                    </div>

                    <div class="presupuesto__options">
                        <p class="presupuesto__info">* Este apartado calcula el total del pedido.</p>
                    </div>
                </div>

                <div class="presupuesto__options politica">
                    <label for="politica" class="presupuesto__label">He leído la política de privacidad</label>
                    <input type="checkbox" name="politica" id="politica" class="presupuesto__checkbox" required>
                </div>

                <button type="submit" class="presupuesto__button">Enviar</button>
            </form>
        </div>

        <div class="presupuesto__succes">
            <div class="presupuesto__succes-text">
                <h2 class="presupuesto__succes-title">TU PEDIDO HA SIDO RECIBIDO</h2>
                <p class="presupuesto__succes-subtitle">Hemos recibido correctamente tu pedido, si sucediera cualquier
                    cosa nos pondremos en contacto contigo para solucionarlo lo antes posible.</p>
            </div>

            <button class="presupuesto__succes-btn">HACER OTRO PEDIDO</button>
        </div>
    </main>

    <!-- Añado el footer que será el mismo en todas las páginas -->
    <footer>
        <p class="footer__copyright">©2025 Coffee Lovers. Todos los derechos reservados.</p>

        <a href="../views/aviso_legal.html" class="footer__link">Aviso Legal</a>

        <ul class="footer__socialMedia">
            <li class="footer__socialMedia-item"><a href="https://es-es.facebook.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-facebook fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://www.instagram.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-instagram fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://x.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-x-twitter fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://es.linkedin.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-linkedin fa-lg icons"></i></a></li>
            <li class="footer__socialMedia-item"><a href="https://www.youtube.com" target="_blank"
                    class="footer__socialMedia-link"><i class="fa-brands fa-youtube fa-lg icons"></i></a></li>
        </ul>
    </footer>
</body>

</html>